.popup__elem{
    min-width: 358px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-overflow: ellipsis;
    white-space: nowrap;
    outline:none;
    padding-bottom: 13px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    padding: 0;
}

.popup__elem:first-child{
    margin: 41px 36px 0;
}

.popup__elem:nth-child(2){
    margin: 21px 36px 0;
}

@media screen and (max-width: 912px) {
    .popup__elem{
        min-width: 238px;
    }

    .popup__elem:first-child{
        margin: 66px 22px 0;
    }

    .popup__elem:nth-child(2){
        margin: 22px 22px 0;
    }
}