.popup__disable{
    width: 32px;
    height: 32px;
    position: absolute;
    right: -40px;
    top: -41px;
    transition-property: opacity;
    transition-duration: 0.5s;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

@media screen and (max-width: 912px) {
    .popup__disable{
        right: 0;
        top: -38px;
        width: 22px;
        height: 22px;
    }
}