.popup__container{
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    min-width: 430px;
    z-index: 1;
}

@media screen and (max-width: 912px) {
    .popup__container{
        min-width: 282px;
    } 
}