.popup__name{
    margin: 54px 36px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 912px) {
    .popup__name{
        margin: 75px 22px 0;
    }
}