.popup__elem_input-name{
    margin: 41px 36px 0;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    padding: 0;
}

@media screen and (max-width: 912px) {
    .popup__elem_input-name{
        margin: 66px 22px 0;
    }
}