.profile__add-item{
    width: 22px;
    height: 22px;
    border: 2px solid rgba(255, 255, 255);
    border-radius: 2px;
    padding: 12px 62px;
    transition-property: opacity;
    transition-duration: 0.5s;
}

@media screen and (max-width: 912px) {
    .profile__add-item{
        width: 16px;
        height: 16px;
        padding: 14px 131px;
    }
}