.profile__editor{
    display: inline-block;
    background-image: url(../../../images/edit-pen.svg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    margin-left: 17px;
    margin-bottom: 9px;
    width: 24px;
    height: 24px;
    transition-property: opacity;
    transition-duration: 0.5s;
    cursor: pointer;
    align-self: flex-end;
    padding: 0;
}


@media screen and (max-width: 912px) {
    .profile__editor{
        margin-left: 10px;
        margin-bottom: 6px;
        width: 18px;
        height: 18px;
    }
}