.profile__editor{
    display: inline-block;
    box-sizing: border-box;
    margin-left: 17px;
    margin-bottom: 9px;
    content: url("../../../images/edit-pen.svg");
    width: 24px;
    height: 24px;
    transition-property: opacity;
    transition-duration: 0.5s;
    cursor: pointer;
    align-self: flex-end;
}


@media screen and (max-width: 912px) {
    .profile__editor{
        margin-left: 10px;
        margin-bottom: 6px;
        content: url("../../../images/edit-pen.svg");
        width: 18px;
        height: 18px;
    }
}